h1{
    color:rgb(163, 0, 136)
}

.header{
    background-color: aquamarine;
    display: flex;
    justify-content : space-between;
}
.grid{
    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}